@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@layer base {
  body {
    font-family: "Noto Sans", "Noto Sans KR", sans-serif;
    background-color: black;
    color: white;
  }
}

@layer components {
  .account-input {
    border: 2px solid white;
    width: 500px;
    height: 40px;
    padding-left: 15px;
    border-radius: 50px;
  }
  .error {
    color: red;
  }
  .default-page {
    border: 1px solid white;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
    font-size: 20px;
  }
  .selected-page {
    color: black;
    font-size: 20px;
    padding: 0px 3px 0px 3px;
    background-color: #de0913;
    border: 1px solid #de0913;
    cursor: pointer;
    font-weight: 600;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
